.idea/
.DS_Store
server.bak/
venv/
**/*.bak
\#*\#
**~
ui-src/node_modules
.vscode

# Ignore config file
**/app.cfg

# Ignore the generated BUILD file
BUILD

# log files in any path
**/*.log

**/__pycache__

**/.pytest_cache
**/dist

/.secrets
