{% extends 'base.html' %}

{% block content %}

<title>Internal Server Error (500)</title>
<br>
<div class="container text-left">
    <h1>Internal Server Error (500)</h1>
    <p><br><br></p>
    <div>
        <img src="/static/500.png" alt="500 Error" data-height="300" style="max-height: 168px;">
        <br>
        <br>
        <p>{{ error }}</p>
    </div>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/" class="btn btn-primary btn-lg">Return</a>
    </div>
</div>

{% endblock %}