<!--Globus login page for demonstration application-->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-success text-black">
    <br>
    <img src="/static/spatial-query.png" alt="SpatialQuery" data-height="234" style="max-height: 50px; padding: 10px;">
    <img src="/static/vitessce.png" alt="Vitessce" data-height="234" style="max-height: 50px; padding: 10px;">
    <br>
</div>
<h3>Select Consortium and Dataset</h3>
<form method=post id="spatialquery-form" onsubmit="return spinner_index(this);">
    <div class="container-fluid">
        <br>
        <div>
            <label for="consortium">Consortium</label>
            <select id="consortium" name="consortium" class="form-control" style="width: 20ch;">
                <option value="HuBMAP" selected>HuBMAP</option>
                <option value="SenNet">SenNet</option>
            </select>
        </div>
        <div>
           <i>Currently, only HuBMAP is supported.</i>
        </div>
        <div>
            <label for="datasetid">Dataset ID</label>
            <input type="text" id="datasetid" name="datasetid" class="form-control" style="width: 20ch;" value="HBM847.GZGD.668">
        </div>
        <!-- Cell type selection moved to api path parameter.
        <div>
            <label for="celltype">Cell type</label>
            <input type="text" id="celltype" name="celltype" class="form-control" style="width: 20ch;" value="podocyte">
        </div>
        <div>
            &#8679; ID format is <i>(CCCnnn.XXXX.nnn)</i>, with <i>CCC</i> in (HBM,SNT); <i>n</i> integer; <i>X</i> non-numeric
        </div>
        -->
        <br>
        <div>
            <button type="submit" class="btn btn-primary btn-lg" value="Search">Get SpatialQuery Vitessce inputs</button>
        </div>
        <br>
        <!-- Spinner that displays while request is processing -->
        <div id="spinner" class="loading">
        </div>
        <br>
    </div>
</form>
{% endblock %}