<!--Globus login page for demonstration application-->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-success text-black">
    <br>
    <img src="/static/spatial-query.png" alt="SpatialQuery" data-height="234" style="max-height: 50px; padding: 10px;">
    <img src="/static/vitessce.png" alt="Vitessce" data-height="234" style="max-height: 50px; padding: 10px;">
    <br>
</div>
<h3>Select Consortium and Dataset</h3>
<form method=post id="spatialquery-form" onsubmit="return spinner_index(this);">
    <div class="container-fluid">
        <br>
        <div>
            <label for="consortium">Consortium</label>
            <select id="consortium" name="consortium" class="form-control" style="width: 20ch;">
                <option value="HuBMAP" selected>HuBMAP</option>
                <option value="SenNet">SenNet</option>
            </select>
        </div>
        <div>
           <i>Currently, only HuBMAP is supported.</i>
        </div>
        <div>
            <label for="datasetid">Dataset ID</label>
            <input type="text" id="datasetid" name="datasetid" class="form-control" style="width: 20ch;" value="HBM847.GZGD.668">
        </div>
        <div>
            <label for="endpoint">endpoint</label>
            <select id="endpoint"  name="endpoint" class="form-control" style="width: 20 ch;">
                <option value="find_fp_knn" selected>find_fp_knn</option>
                <option value="find_fp_dist">find_fp_dist</option>
                <option value="find_patterns_grid">find_patterns_grid</option>
                <option value="find_patterns_rand">find_patterns_rand</option>
                <option value="motif_enrichment_knn">motif_enrichment_knn</option>
                <option value="motif_enrichment_dist">motif_enrichment_dist</option>
                <option value="vitessce-config">vitessce-config</option>
            </select>
        </div>
        <div>
            <label for="ct">celltype (anchor for motif enrichment)</label>
            <input type="text" id="ct" name="ct" class="form-control" style="width: 20ch;" value="podocyte">
        </div>
        <div>
            <label for="k">k (number of nearest neighbors)</label>
            <input type="text" id="k" name="k" class="form-control" style="width: 20ch;" value="30">
        </div>
        <div>
            <label for="min_support">minimum level of support</label>
            <input type="text" id="min_support" name="k" class="form-control" style="width: 20ch;" value="0.7">
        </div>
        <div>
            <label for="max_distance">maximum distance</label>
            <input type="text" id="max_distance" name="max_distance" class="form-control" style="width: 20ch;" value="20">
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary btn-lg" value="Search">Get SpatialQuery Vitessce inputs</button>
        </div>
        <br>
        <!-- Spinner that displays while request is processing -->
        <div id="spinner" class="loading">
        </div>
        <br>
    </div>
</form>
{% endblock %}