<!--Globus login page for demonstration application-->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-success text-black">
    <br>
    <img src="/static/spatial-query.png" alt="SpatialQuery" data-height="234" style="max-height: 50px; padding: 10px;">
    <img src="/static/vitessce.png" alt="Vitessce" data-height="234" style="max-height: 50px; padding: 10px;">
    <br>
</div>
<h3>Select Consortium and Dataset</h3>
<form method=post id="spatialquery-form" onsubmit="return spinner_index(this);">
    <div class="container-fluid">
        <br>
        <div>
            <label for="consortium">Consortium</label>
            <select id="consortium" name="consortium" class="form-control" style="width: 20ch;">
                <option value="HuBMAP" selected>HuBMAP</option>
                <option value="SenNet">SenNet</option>
            </select>
        </div>
        <div>
           <i>Currently, only HuBMAP is supported.</i>
        </div>
        <div>
            <label for="datasetid">Dataset ID</label>
            <input type="text" id="datasetid" name="datasetid" class="form-control" style="width: 20ch;" value="HBM847.GZGD.668">
        </div>
        <div>
            <label for="endpoint"><strong>SpatialQuery service endpoint path</strong></label>
            <select id="endpoint"  name="endpoint" class="form-control" style="width: 20 ch;">
                <option value="find_fp_knn" selected>find_fp_knn</option>
                <option value="find_fp_dist">find_fp_dist</option>
                <option value="find_patterns_grid">find_patterns_grid</option>
                <option value="find_patterns_rand">find_patterns_rand</option>
                <option value="motif_enrichment_knn">motif_enrichment_knn</option>
                <option value="motif_enrichment_dist">motif_enrichment_dist</option>
                <option value="vitessce-config">vitessce-config</option>
            </select>
        </div>
        <h3>Parameter values (used by multiple endpoints)</h3>
        <div>
            <label for="ct">celltype (anchor for motif enrichment)</label>
            <input type="text" id="ct" name="ct" class="form-control" style="width: 20ch;" value="podocyte">
        </div>
        <div>
            <label for="k">k (number of nearest neighbors)</label>
            <input type="text" id="k" name="k" class="form-control" style="width: 20ch;" value="30">
        </div>
        <div>
            <label for="min_support">minimum level of support</label>
            <input type="text" id="min_support" name="min_support" class="form-control" style="width: 20ch;" value="0.7">
        </div>
        <div>
            <label for="max_distance">maximum distance</label>
            <input type="text" id="max_distance" name="max_distance" class="form-control" style="width: 20ch;" value="20">
        </div>
        <div>
            <label for="min_size">min_size</label>
            <input type="text" id="min_size" name="min_size" class="form-control" style="width: 20ch;" value="0">
        </div>
        <br>
        <div>
            <label for="figsize_width">figure size width</label>
            <input type="text" id="figsize_width" name="figsize_width" class="form-control" style="width: 20ch;" value="10">
        </div>
        <div>
            <label for="figsize_height">figure size height</label>
            <input type="text" id="figsize_height" name="figsize_height" class="form-control" style="width: 20ch;" value="5">
        </div>
        <div>
            <label for="if_display">if display</label>
            <input type="text" id="if_display" name="if_display" class="form-control" style="width: 20ch;" value="True">
        </div>
        <div>
            <label for="return_cellID">return cell ID</label>
            <input type="text" id="return_cellID" name="return_cellID" class="form-control" style="width: 20ch;" value="False">
        </div>
        <div>
            <label for="return_grid">return grid</label>
            <input type="text" id="return_grid" name="return_grid" class="form-control" style="width: 20ch;" value="False">
        </div>
        <div>
            <label for="n_points">n_points (number of random points to generate)</label>
            <input type="text" id="n_points" name="n_points" class="form-control" style="width: 20ch;" value=1000>
        </div>
        <div>
            <label for="seed">seed (Random seed for reproducibility)</label>
            <input type="text" id="seed" name="seed" class="form-control" style="width: 20ch;" value=2023>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg" value="Search">Call SpatialQuery endpoint</button>
        </div>
        <br>
        <!-- Spinner that displays while request is processing -->
        <div id="spinner" class="loading">
        </div>
        <br>
    </div>
</form>
{% endblock %}